    
<header class= "row space-beetwen">
  <nav>
    <div class="logo">
      <%= link_to image_tag('logo'), root_path, alt:"logo" %>
    </div>
    <%= link_to "All Movies", movies_path %>
  </nav>
</header>
